body {
    min-width: 450px;
    min-height: 375px;
    overflow-x: hidden;
}

#clear{
    text-align: right;
    margin-bottom: 10px;
    float: right;
}

#header{
    margin-top: 10px;
    font-style: italic;
}